    body{
        margin: 0;
    }

    .image-container{ /*sätter bilden bakom headern*/
        z-index: -1; 
        width: 100%;
        height: 30vh;
    }

    .image-container img{   
        margin-top: 30px;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }


    .header{ /*Innehåller all flex som headerna använder sig av. Denna finns på varje sida av hemsidan. z-index gör så att headern kommer framför bilden*/
        background-color: #e5cebb;
        display: flex;
        padding: 2vh;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .nav-links a{
        margin-right: 5vh;
    }

    .header h2{
        margin: 0;
    }

    a{ /*så att alla länkar går tillbaka till textformat, alltså inte med den blå texten och understrycket, dessa finns på varje csst*/
        text-decoration: none;
        color: inherit;
    }

    .centered-container{ /*centrerar allt main innehåll på hemsidan*/
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        margin: 9vw 10vw 1vw;
        padding: 2vw;
        background-color: white;
    }

    .introduktion-container{
        width: 67vw;
        margin-bottom: 20vh;
        background-color: beige;
        padding: 5vh;
        border-radius: 2%;
    }

    .introduktion-container p{
        border: solid 0.3vh;
        border-radius: 2%;
        background-color: white;
        color: black;
        margin: 0;
        padding: 5vh 8vw;
    }
