body {
    margin: 0;
}

.header{
    background-color: #e5cebb;
    display: flex;
    padding: 2vh;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-links a{
    margin-right: 5vh;
}

.header h2{
    margin: 0;
}

h1{
    margin-top: 20vh;
    text-align: center;
}

a{ 
    text-decoration: none;
    color: inherit;
}



.flex-container{ /*parent-diven --> för att få inlägg-container i mitten av hemsidan*/
    display: flex;
    justify-content: center;
}

.inlägg-container{ /*Innehåller all flex som gör att inläggen kommer i en column och precis efter varandra*/
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    background-color: beige;
    padding: 5vh;
    border-radius: 2%;
    width: 62vw;
    height: 122vh;
    margin-bottom: 40vh;
}

.inlägg{ 
    width: 60vh;
    background-color: white;
    margin: 2vh;
    padding: 2vh;
    border: 0.3vh black solid;
    border-radius: 2%;
}


